<!-- Footer Component -->
<footer class="footer bg-black text-white py-5" id="footerRoot">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="fw-bold mb-3">SNEVO</h5>
                <p>Premium athletic footwear for champions. Just Do It.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="fw-bold mb-3">Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="index.html" class="text-white-50">Home</a></li>
                    <li><a href="products.html" class="text-white-50">Products</a></li>
                    <li><a href="#about" class="text-white-50">About</a></li>
                    <li><a href="#contact" class="text-white-50">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="fw-bold mb-3">Customer Service</h6>
                <ul class="list-unstyled">
                    <li><a href="#help" class="text-white-50">Help Center</a></li>
                    <li><a href="#returns" class="text-white-50">Returns</a></li>
                    <li><a href="#shipping" class="text-white-50">Shipping</a></li>
                    <li><a href="#size-guide" class="text-white-50">Size Guide</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="fw-bold mb-3">Follow Us</h6>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2024 Snevo. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#privacy" class="text-white-50 me-3">Privacy Policy</a>
                <a href="#terms" class="text-white-50">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>