<!-- Unified Navbar Template -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-sm" id="unifiedNavbar" style="margin: 0; padding-left: 30px; padding-right: 30px;">
    <div class="container">
        <a class="navbar-brand" href="#" data-navbar-brand>
            <img src="../assets/images/ui/logo.svg" alt="SNEVO" height="50">
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto" style="gap: 80px;">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-navbar-link="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-navbar-link="products">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Categories
                    </a>
                    <ul class="dropdown-menu" id="categoriesDropdown">
                        <!-- Categories will be loaded dynamically -->
                    </ul>
                </li>
            </ul>
            
            <ul class="navbar-nav" style="gap: 30px;">
                <li class="nav-item">
                    <a class="nav-link" href="#" id="searchToggle">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
                <li class="nav-item" id="cartNavItem">
                    <a class="nav-link position-relative" href="#" data-navbar-link="cart">
                        <i class="fas fa-shopping-cart"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cartCount">
                            0
                        </span>
                    </a>
                </li>
                <li class="nav-item" style="background-color: #000000; border-radius: 32px;">
                    <ul class="navbar-nav" id="authButtons">
                        <li class="nav-item">
                            <a class="nav-link text-white px-4" href="#" data-navbar-link="login">Login</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Search Overlay -->
<div class="search-overlay d-none" id="searchOverlay">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="search-box">
                    <input type="text" class="form-control form-control-lg" placeholder="Search for shoes..." id="searchInput">
                    <button class="btn btn-dark" id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
